<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhmis.modules.shop.mapper.GuessRecommendMapper">
    
	<sql id="guessRecommendColumns">
		a.id AS "id",
		a.guess_recommend_num AS "guessRecommendNum"
	</sql>
	
	<sql id="guessRecommendJoins">
		
	</sql>
	
    
	<select id="get" resultType="GuessRecommend" >
		SELECT 
			<include refid="guessRecommendColumns"/>
		FROM guess_recommend a
		<include refid="guessRecommendJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="GuessRecommend" >
		SELECT 
			<include refid="guessRecommendColumns"/>
		FROM guess_recommend a
		<include refid="guessRecommendJoins"/>
		<where>
			
			${dataScope}
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="GuessRecommend" >
		SELECT 
			<include refid="guessRecommendColumns"/>
		FROM guess_recommend a
		<include refid="guessRecommendJoins"/>
		<where>
			
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO guess_recommend(
			id,
			guess_recommend_num
		) VALUES (
			#{id},
			#{guessRecommendNum}
		)
	</insert>
	
	<update id="update">
		UPDATE guess_recommend SET 	
			guess_recommend_num = #{guessRecommendNum}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM guess_recommend
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE guess_recommend SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="GuessRecommend" statementType="STATEMENT">
		select * FROM guess_recommend  where ${propertyName} = '${value}'
	</select>
	
</mapper>