<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhmis.modules.customer.mapper.ProductSkMapper">
    
	<sql id="productSkColumns">
		a.id AS "id",
		a.number AS "number",
		a.name AS "name",
		a.channelid AS "channelid",
		a.producttype AS "producttype",
		a.levelid AS "levelid",
		a.parentid AS "parentid",
		a.parentnumber AS "parentnumber",
		a.status AS "status",
		a.isvalid AS "isvalid",
		a.bigandsmall AS "bigandsmall"
	</sql>
	
	<sql id="productSkJoins">
		
	</sql>
	
    
	<select id="get" resultType="ProductSk" >
		SELECT 
			<include refid="productSkColumns"/>
		FROM product_sk a
		<include refid="productSkJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="ProductSk" >
		SELECT 
			<include refid="productSkColumns"/>
		FROM product_sk a
		<include refid="productSkJoins"/>
		<where>
			
			${dataScope}
			<if test="id != null and id != ''">
				AND a.id = #{id}
			</if>
			<if test="number != null and number != ''">
				AND a.number = #{number}
			</if>
			<if test="name != null and name != ''">
				AND a.name LIKE 
					<if test="dbName == 'oracle'">'%'||#{name}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{name}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{name},'%')</if>
			</if>
			<if test="channelid != null and channelid != ''">
				AND a.channelid = #{channelid}
			</if>
			<if test="producttype != null and producttype != ''">
				AND a.producttype = #{producttype}
			</if>
			<if test="levelid != null and levelid != ''">
				AND a.levelid = #{levelid}
			</if>
			<if test="parentid != null and parentid != ''">
				AND a.parentid = #{parentid}
			</if>
			<if test="parentnumber != null and parentnumber != ''">
				AND a.parentnumber = #{parentnumber}
			</if>
			<if test="status != null and status != ''">
				AND a.status = #{status}
			</if>
			<if test="isvalid != null and isvalid != ''">
				AND a.isvalid = #{isvalid}
			</if>
			<if test="bigandsmall != null and bigandsmall != ''">
				AND a.bigandsmall = #{bigandsmall}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="ProductSk" >
		SELECT 
			<include refid="productSkColumns"/>
		FROM product_sk a
		<include refid="productSkJoins"/>
		<where>
			
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO product_sk(
			id,
			number,
			name,
			channelid,
			producttype,
			levelid,
			parentid,
			parentnumber,
			status,
			isvalid,
			bigandsmall
		) VALUES (
			#{id},
			#{number},
			#{name},
			#{channelid},
			#{producttype},
			#{levelid},
			#{parentid},
			#{parentnumber},
			#{status},
			#{isvalid},
			#{bigandsmall}
		)
	</insert>
	
	<update id="update">
		UPDATE product_sk SET 	
			number = #{number},
			name = #{name},
			channelid = #{channelid},
			producttype = #{producttype},
			levelid = #{levelid},
			parentid = #{parentid},
			parentnumber = #{parentnumber},
			status = #{status},
			isvalid = #{isvalid},
			bigandsmall = #{bigandsmall}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM product_sk
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE product_sk SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="ProductSk" statementType="STATEMENT">
		select * FROM product_sk  where ${propertyName} = '${value}'
	</select>
	
</mapper>