<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhmis.modules.cms.mapper.VisitMapper">
    
	<sql id="visitColumns">
		a.id AS "id",
		a.category_id AS "categoryId",
		a.info_id AS "infoId",
		a.url AS "url",
		a.create_date AS "createDate",
		a.ip AS "ip"
	</sql>
	
	<sql id="visitJoins">
		
	</sql>
	
    
	<select id="get" resultType="Visit" >
		SELECT 
			<include refid="visitColumns"/>
		FROM cms_visit a
		<include refid="visitJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="Visit" >
		SELECT 
			<include refid="visitColumns"/>
		FROM cms_visit a
		<include refid="visitJoins"/>
		<where>
			
			${dataScope}
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="Visit" >
		SELECT 
			<include refid="visitColumns"/>
		FROM cms_visit a
		<include refid="visitJoins"/>
		<where>
			
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO cms_visit(
			id,
			category_id,
			info_id,
			url,
			create_date,
			ip
		) VALUES (
			#{id},
			#{categoryId},
			#{infoId},
			#{url},
			#{createDate},
			#{ip}
		)
	</insert>
	
	<update id="update">
		UPDATE cms_visit SET 	
			category_id = #{categoryId},
			info_id = #{infoId},
			url = #{url},
			ip = #{ip}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM cms_visit
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE cms_visit SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Visit" statementType="STATEMENT">
		select * FROM cms_visit  where ${propertyName} = '${value}'
	</select>
	
</mapper>