<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhmis.modules.shop.mapper.dealer.DealerAccountMapper">
    
	<sql id="dealerAccountColumns">
		a.id AS "id",
		a.dealer_id AS "dealerId",
		a.login_name AS "loginName",
		a.passwd AS "passwd",
		a.real_name AS "realName",
		a.mobile AS "mobile",
		a.depart_name AS "departName",
		a.is_admin AS "isAdmin",
		a.email AS "email",
		a.remarks AS "remarks",
		a.is_closed AS "isClosed",
		a.last_login_date AS "lastLoginDate",
		a.create_by AS "createById",
		a.create_date AS "createDate",
		a.update_by AS "updateById",
		a.update_date AS "updateDate",
		dealer.company_name AS "dealerName",
		dealer.logo_url AS "logoUrl"
	</sql>
	
	<sql id="dealerAccountJoins">
		LEFT JOIN dealer ON dealer.id=a.dealer_id
	</sql>
	
    
	<select id="get" resultType="DealerAccount" >
		SELECT 
			<include refid="dealerAccountColumns"/>
		FROM dealer_account a
		<include refid="dealerAccountJoins"/>
		WHERE a.id = #{id}
	</select>
	<select id="findRestList" resultType="DealerAccount" >
		SELECT
		<include refid="dealerAccountColumns"/>
		FROM dealer_account a
		<include refid="dealerAccountJoins"/>
		<where>

			${dataScope}
			<if test="dealerId != null and dealerId != ''">
				AND a.dealer_id = #{dealerId}
			</if>
			<if test="loginName != null and loginName != ''">
				AND a.login_name = #{loginName}
			</if>
			<if test="realName != null and realName != ''">
				AND a.real_name LIKE
				<if test="dbName == 'oracle'">'%'||#{realName}||'%'</if>
				<if test="dbName == 'mssql'">'%'+#{realName}+'%'</if>
				<if test="dbName == 'mysql'">concat('%',#{realName},'%')</if>
			</if>
			<if test="mobile != null and mobile != ''">
				AND a.mobile LIKE
				<if test="dbName == 'oracle'">'%'||#{mobile}||'%'</if>
				<if test="dbName == 'mssql'">'%'+#{mobile}+'%'</if>
				<if test="dbName == 'mysql'">concat('%',#{mobile},'%')</if>
			</if>
			<if test="departName != null and departName != ''">
				AND a.depart_name LIKE
				<if test="dbName == 'oracle'">'%'||#{departName}||'%'</if>
				<if test="dbName == 'mssql'">'%'+#{departName}+'%'</if>
				<if test="dbName == 'mysql'">concat('%',#{departName},'%')</if>
			</if>
			<if test="isAdmin != null and isAdmin != ''">
				AND a.is_admin = #{isAdmin}
			</if>
			<if test="email != null and email != ''">
				AND a.email LIKE
				<if test="dbName == 'oracle'">'%'||#{email}||'%'</if>
				<if test="dbName == 'mssql'">'%'+#{email}+'%'</if>
				<if test="dbName == 'mysql'">concat('%',#{email},'%')</if>
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>



	<select id="findList" resultType="DealerAccount" >
		SELECT 
			<include refid="dealerAccountColumns"/>
		FROM dealer_account a
		<include refid="dealerAccountJoins"/>
		<where>
			
			${dataScope}
			<if test="dealerId != null and dealerId != ''">
				AND a.dealer_id = #{dealerId}
			</if>
			<if test="loginName != null and loginName != ''">
				AND a.login_name = #{loginName}
			</if>
			<if test="realName != null and realName != ''">
				AND a.real_name LIKE 
					<if test="dbName == 'oracle'">'%'||#{realName}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{realName}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{realName},'%')</if>
			</if>
			<if test="mobile != null and mobile != ''">
				AND a.mobile LIKE 
					<if test="dbName == 'oracle'">'%'||#{mobile}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{mobile}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{mobile},'%')</if>
			</if>
			<if test="departName != null and departName != ''">
				AND a.depart_name LIKE 
					<if test="dbName == 'oracle'">'%'||#{departName}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{departName}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{departName},'%')</if>
			</if>
			<if test="isAdmin != null and isAdmin != ''">
				AND a.is_admin = #{isAdmin}
			</if>
			<if test="email != null and email != ''">
				AND a.email LIKE 
					<if test="dbName == 'oracle'">'%'||#{email}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{email}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{email},'%')</if>
			</if>
			<if test="isClosed != null and isClosed != ''">
				AND a.is_closed = #{isClosed}
			</if>
			<if test="delFlag != null and delFlag != ''">
				AND a.del_flag = #{delFlag}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="DealerAccount" >
		SELECT 
			<include refid="dealerAccountColumns"/>
		FROM dealer_account a
		<include refid="dealerAccountJoins"/>
		<where>
			
			${dataScope}
			<if test="delFlag != null and delFlag != ''">
				AND a.del_flag = #{delFlag}
			</if>
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO dealer_account(
			id,
			dealer_id,
			login_name,
			passwd,
			real_name,
			mobile,
			depart_name,
			is_admin,
			email,
			remarks,
			is_closed,
			last_login_date,
			create_by,
			create_date,
			update_by,
			update_date
		) VALUES (
			#{id},
			#{dealerId},
			#{loginName},
			#{passwd},
			#{realName},
			#{mobile},
			#{departName},
			#{isAdmin},
			#{email},
			#{remarks},
			#{isClosed},
			#{lastLoginDate},
			#{createById},
			#{createDate},
			#{updateById},
			#{updateDate}
		)
	</insert>
	
	<update id="update">
		UPDATE dealer_account SET 	
			dealer_id = #{dealerId},
			login_name = #{loginName},
			passwd = #{passwd},
			real_name = #{realName},
			mobile = #{mobile},
			depart_name = #{departName},
			is_admin = #{isAdmin},
			email = #{email},
			remarks = #{remarks},
			is_closed = #{isClosed},
			last_login_date = #{lastLoginDate},
			update_by = #{updateById},
			update_date = #{updateDate}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM dealer_account
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE dealer_account SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="DealerAccount" statementType="STATEMENT">
		select * FROM dealer_account  where ${propertyName} = '${value}'
	</select>

	<!-- 根据登录名查询用户 -->
	<select id="getByLoginName" resultType="DealerAccount">
		SELECT
		<include refid="dealerAccountColumns"/>
		FROM dealer_account a
		<include refid="dealerAccountJoins"/>
		WHERE a.login_name = #{loginName}
	</select>

	<!-- 更新用户密码 -->
	<update id="updatePasswordById">
		UPDATE dealer_account SET
		passwd = #{passwd}
		WHERE id = #{id}
	</update>

	<!-- 更新登录信息，如登录IP、登录时间 -->
	<update id="updateLoginInfo">
		UPDATE dealer_account SET
		last_login_date = #{lastLoginDate}
		WHERE id = #{id}
	</update>

	<!-- 删除用户和角色关联表数据 -->
	<delete id="deleteAccountRole">
		DELETE FROM dealer_account_role WHERE account_id = #{id}
	</delete>

	<!-- 插入用户和角色关联表数据 -->
	<insert id="insertAccountRole">
		INSERT INTO dealer_account_role(account_id, role_id)
		values
		<foreach collection="roleList" item="role" index="index" separator=",">
			(#{id},#{role.id})
		</foreach>
	</insert>

	<!-- 更新用户信息  -->
	<update id="updateAccountInfo">
		UPDATE dealer_account SET
		real_name = #{realName},
		mobile = #{mobile},
		depart_name = #{departName},
		mobile = #{mobile},
		update_by = #{updateById},
		update_date = #{updateDate},
		remarks = #{remarks},
		email = #{email},
		is_closed = #{isClosed}
		WHERE id = #{id}
	</update>
	
</mapper>