<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhmis.modules.wechat.mapper.WxAppCidMapper">
    
	<sql id="wxAppCidColumns">
		a.id AS "id",
		a.user_id AS "userId",
		a.user_phone AS "userPhone",
		a.phone_type AS "phoneType",
		a.c_id AS "cId"
	</sql>
	
	<sql id="wxAppCidJoins">
		
		LEFT JOIN sys_user userId ON userId.id = a.user_id
	</sql>
	
    
	<select id="get" resultType="WxAppCid" >
		SELECT 
			*
		FROM wx_app_cid a
	
		WHERE a.user_id = #{userId} and a.c_id=#{cId}
	</select>
	
	<select id="findListCidByUserid" resultType="WxAppCid">
	
	select * from wx_app_cid where user_id=#{friendId}
	</select>
	<select id="findList" resultType="WxAppCid" >
		SELECT 
			<include refid="wxAppCidColumns"/>
		FROM wx_app_cid a
		<include refid="wxAppCidJoins"/>
		<where>
			
			${dataScope}
			<if test="userId != null and userId != ''">
				AND a.user_id = #{userId}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="WxAppCid" >
		SELECT 
			<include refid="wxAppCidColumns"/>
		FROM wx_app_cid a
		<include refid="wxAppCidJoins"/>
		<where>
			
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO wx_app_cid(
			id,
			user_id,
			user_phone,
			phone_type,
			c_id
		) VALUES (
			#{id},
			#{userId},
			#{userPhone},
			#{phoneType},
			#{cId}
		)
	</insert>
	
	<update id="update">
		UPDATE wx_app_cid SET 	
			user_id = #{userId},
			user_phone = #{userPhone},
			phone_type =#{phoneType},
			c_id = #{cId}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM wx_app_cid
		WHERE id = #{id}
	</update>  
	
	<delete id="deleteByUserId">
	 DELETE FROM wx_app_cid
		WHERE user_id = #{wxAppCid}
	</delete>
	<delete id="deleteByUserPhone">
	 DELETE FROM wx_app_cid
		WHERE user_phone = #{mobile}
	</delete>
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE wx_app_cid SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="WxAppCid" statementType="STATEMENT">
		select * FROM wx_app_cid  where ${propertyName} = '${value}'
	</select>
	
	<select id="findByCid" resultType="WxAppCid">
	select * from wx_app_cid where c_id=#{cId}
	
	</select>
	<select id="getByCidAndUserId"  resultType="WxAppCid">
	select * from wx_app_cid where c_id=#{cId}
	
	</select>
</mapper>