<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhmis.modules.wechat.mapper.WxGroupMapper">
    
	<sql id="wxGroupColumns">
		a.id AS "id",
		a.group_name AS "groupName",
		a.user_id AS "userId",
		a.build_time AS "buildTime",
		a.description AS "description",
		a.status AS "status",
		a.source AS "source",
		a.source_status AS "sourceStatus"
	</sql>
	
	<sql id="wxGroupJoins">
		
		LEFT JOIN sys_user userId ON userId.id = a.user_id
	</sql>
	
    
	<select id="get" resultType="WxGroup" >
		SELECT 
			<include refid="wxGroupColumns"/>
		FROM wx_group a
		<include refid="wxGroupJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="WxGroup" >
		SELECT 
			<include refid="wxGroupColumns"/>
		FROM wx_group a
		<include refid="wxGroupJoins"/>
		<where>
			
			${dataScope}
			<if test="source != null and source != ''">
				AND a.source = #{source}
			</if>
		             
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="WxGroup" >
		SELECT 
			<include refid="wxGroupColumns"/>
		FROM wx_group a
		<include refid="wxGroupJoins"/>
		<where>
			
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO wx_group(
			id,
			group_name,
			user_id,
			build_time,
			description,
			status,
			source,
			source_status
		) VALUES (
			#{id},
			#{groupName},
			#{userId},
			#{buildTime},
			#{description},
			#{status},
			#{source},
			#{sourceStatus}
		)
	</insert>
	
	<update id="update">
		UPDATE wx_group SET 	
			group_name = #{groupName},
			user_id = #{userId},
			build_time = #{buildTime},
			description = #{description},
			status = #{status},
			source = #{source},
			source_status = #{sourceStatus}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM wx_group
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE wx_group SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="WxGroup" statementType="STATEMENT">
		select * FROM wx_group  where ${propertyName} = '${value}'
	</select>

	<select id="findbysource" resultType="WxGroup" >
	   select *from wx_group where source=#{source}
	</select>	
	
</mapper>